/**********TAG**********/

body {
  background-color: #ffe4e1;
}


h3 {
  color: #66BFBF;
}

h1 {
  color: #66BFBF;
}

h2 {
  color: #66BFBF;
}

/**********Class**********/

.intro {
  font-family: cursive;
}
